@charset "UTF-8";
/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Dosis:wght@300&family=Lato:wght@100;700&family=Open+Sans:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
/* Misc */
/* Variables */
/* Colors */
/* Spacing */
/* Fonts-family */
/* Font-sizes */
/* Normalize */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Darker Grotesque", sans-serif; }

/* Partials */
/* Header */
.main__background__index {
  background-image: url(../img/conejos.jpg);
  width: 100%;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem; }
  .main__background__index .main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-color: #594E36;
    border-width: 0.05rem; }
    .main__background__index .main__header .header__logo {
      width: 15%;
      border-radius: 8.5rem;
      margin: 1.5rem; }
    .main__background__index .main__header ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 3rem;
      margin-left: 1.5rem;
      text-decoration: none;
      list-style: none; }
      .main__background__index .main__header ul .main__item {
        font-size: 2.3em;
        text-decoration: none;
        margin: 1.2em;
        color: #594E36;
        border-bottom: 0.05rem solid transparent;
        transition: all .3s ease-in; }
        .main__background__index .main__header ul .main__item:hover {
          color: #e7b444;
          border-bottom-color: #e7b444;
          border-bottom-style: solid;
          border-bottom-width: 0.05rem; }
      .main__background__index .main__header ul .main__item--bold {
        font-weight: bold; }

/* Footer */
footer {
  background-color: #F49F0A;
  color: #FFFDED;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  footer .footer__title {
    font-size: 9em;
    color: #FFFDED;
    margin-bottom: 0.05rem; }
  footer nav a {
    margin: 0.5rem;
    padding: 0.05rem; }
  footer h4 {
    font-size: 2.2em;
    color: #FFFDED;
    padding: 1.5rem;
    text-align: center; }
  footer h5 {
    font-size: 1.6em;
    color: #FFFDED;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 3rem; }

/* Pages */
/* Index */
.main__background__index {
  background-image: url(../img/conejos.jpg);
  width: 100%;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem; }
  .main__background__index h1 {
    font-size: 9em;
    color: #594E36;
    font-weight: bold;
    text-align: center;
    padding: 8.5rem; }
  .main__background__index h2 {
    font-size: 5em;
    color: #594E36;
    text-align: center;
    padding-bottom: 8.5rem; }
  .main__background__index .main__welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.5rem;
    margin-bottom: 3rem; }
    .main__background__index .main__welcome h3 {
      font-size: 3.5em;
      color: #594E36;
      font-weight: bold; }
    .main__background__index .main__welcome .main__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 1.2em;
      padding-left: 8.5rem;
      border-left-style: solid;
      border-left-color: #594E36;
      border-width: 0.05rem; }
      .main__background__index .main__welcome .main__text p {
        font-size: 3em;
        color: #594E36;
        margin-top: 3rem; }
      .main__background__index .main__welcome .main__text .btn {
        color: #F49F0A;
        font-size: 2.2em;
        border: #F49F0A solid;
        margin-top: 3rem; }
        .main__background__index .main__welcome .main__text .btn:hover {
          color: #594E36; }
        .main__background__index .main__welcome .main__text .btn-outline-warning {
          color: #594E36; }

.main__background__primary {
  background-color: #F49F0A;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem; }
  .main__background__primary .grid__area {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: .8fr .3fr .8fr .3fr .1fr .9fr .8fr .1fr;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-items: center;
    justify-content: center; }
    .main__background__primary .grid__area .main__titulo {
      grid-column: 6 / 12;
      grid-row: 5 / 6;
      font-size: 3.5em;
      color: #FFFDED;
      font-weight: bold; }
    .main__background__primary .grid__area .main__image {
      border-style: solid;
      border-color: #594E36;
      border-width: 0.05rem; }
    .main__background__primary .grid__area #img_bolso {
      /* grid-area plato */
      grid-column: 2 / 5;
      grid-row: 3 / 5;
      width: 110%; }
    .main__background__primary .grid__area #img_conejitas {
      /* grid-area conejitas */
      grid-column: 6 / 12;
      grid-row: 1 / 4;
      width: 80%;
      margin-top: 3rem; }
    .main__background__primary .grid__area #img_osi {
      /* grid-area osi */
      grid-column: 13 / 15;
      grid-row: 3 / 6;
      width: 110%; }
    .main__background__primary .grid__area #img_conejo {
      /* grid-area conejo */
      grid-column: 1 / 6;
      grid-row: 6 / 8;
      width: 80%; }
    .main__background__primary .grid__area #img_bolsa {
      /* grid-area bolsa */
      grid-column: 7 / 11;
      grid-row: 7 / 8;
      width: 80%; }
    .main__background__primary .grid__area #img_plato {
      /* grid-area plato */
      grid-column: 12 / 15;
      grid-row: 6 / 8;
      width: 130%; }

.main__background__primary--color2 {
  background-color: #FFFDED;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  align-content: center; }
  .main__background__primary--color2 .main__tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border-right-style: solid;
    border-right-color: #594E36;
    border-right-width: 0.05rem;
    padding: 1.5rem; }
    .main__background__primary--color2 .main__tutorials ol {
      font-size: 3em;
      text-align: center;
      margin: 3rem; }
      .main__background__primary--color2 .main__tutorials ol .tutorial__item {
        text-decoration: none;
        font-weight: bold;
        color: #594E36;
        transition: all 1s text-decoration; }
        .main__background__primary--color2 .main__tutorials ol .tutorial__item:hover {
          text-decoration: underline; }
  .main__background__primary--color2 .main__tutorials--modified {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border-right-style: none;
    padding: 0.05rem; }

/* About */
.main__background__index--about {
  background-image: url(../img/Manta.jpg);
  height: 750px; }

.main__about {
  background-color: #F49F0A;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .main__about .main__about__image--width1 {
    width: 180%; }
  .main__about .main__parrafo {
    font-size: 3em;
    color: #FFFDED;
    margin: 3rem;
    padding-left: 3rem;
    text-align: left;
    border-left-color: #FFFDED;
    border-left-style: solid;
    border-left-width: 0.05rem; }

.main__about2 {
  background-color: #FFFDED;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start; }
  .main__about2 .card {
    margin: 3rem;
    width: 400px;
    background-color: #FFFDED;
    transition: 0.6s; }
    .main__about2 .card:hover {
      box-shadow: 0px 0px 10px #594E36; }
    .main__about2 .card-img-top {
      margin: 3rem;
      text-align: center;
      border-color: #594E36;
      border-style: solid;
      border-width: 0.05rem;
      width: 330px; }
    .main__about2 .card-body {
      text-align: center; }

/* Galeria */
.main__background__index--galery {
  background-image: url(../img/galeria.jpg);
  height: 750px; }

.main__backgroud__galery__grid {
  background-color: #FFFDED;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem; }
  .main__backgroud__galery__grid .grid__area__galery {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr .3fr .6fr .1fr .4fr .1fr .4fr .7fr .1fr .8fr;
    margin-left: 8.5rem;
    margin-right: 3rem;
    padding: 3rem; }
    .main__backgroud__galery__grid .grid__area__galery #nena_campestre {
      /* grid-area nena */
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #nena_campestre:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #conejitas_rosas {
      /* grid-area conejas-rosas */
      grid-column: 4 / 10;
      grid-row: 1 / 4;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #conejitas_rosas:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #muñecas {
      /* grid-area muñecas-invierno */
      grid-column: 10 / 13;
      grid-row: 1 / 2;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #muñecas:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #corazones {
      /* grid-area corazones */
      grid-column: 13 / 15;
      grid-row: 1 / 3;
      justify-self: end;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #corazones:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #portaloquequieras {
      /* grid-area portaloquequieras */
      grid-column: 1 / 4;
      grid-row: 3 / 6;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #portaloquequieras:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #letras {
      /* grid-area letras */
      grid-column: 10 / 13;
      grid-row: 3 / 6;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #letras:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #señores_conejos {
      /* grid-area señores-conejos */
      grid-column: 1 / 4;
      grid-row: 7 / 10;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #señores_conejos:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #señor_osi {
      /* grid-area señor-osi */
      grid-column: 4 / 8;
      grid-row: 5 / 9;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #señor_osi:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #plato_oliver {
      /* grid-area plato-oliver */
      grid-column: 8 / 10;
      grid-row: 7 / 9;
      width: 79%;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #plato_oliver:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #portaloquequieras_rosa {
      /* grid-area portaloquequieras-rosa */
      grid-column: 10 / 14;
      grid-row: 7 / 10;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #portaloquequieras_rosa:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #sonajeros {
      /* grid-area sonajeros */
      grid-column: 14 / 15;
      grid-row: 5 / 8;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #sonajeros:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #manta_triangulos {
      /* grid-area manta-triangulos */
      grid-column: 4 / 6;
      grid-row: 9 / 10;
      align-self: end;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #manta_triangulos:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #azucarera {
      /* grid-area azucarera */
      grid-column: 6 / 10;
      grid-row: 9 / 10;
      align-self: end;
      transition: 0.5s; }
      .main__backgroud__galery__grid .grid__area__galery #azucarera:hover {
        box-shadow: 0px 0px 10px #594E36; }
    .main__backgroud__galery__grid .grid__area__galery #muchos_conejos {
      /* grid-area muchos-conejos */
      grid-column: 14 / 15;
      grid-row: 9 / 10;
      justify-self: end;
      width: 90%;
      transition: 0.6s; }
      .main__backgroud__galery__grid .grid__area__galery #muchos_conejos:hover {
        box-shadow: 0px 0px 10px #594E36; }

.main__back__carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #FFFDED;
  background-size: cover;
  padding: 3rem;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem; }
  .main__back__carousel .carousel {
    transition: 0.5s; }
    .main__back__carousel .carousel:hover {
      box-shadow: 0px 0px 10px #594E36; }
  .main__back__carousel .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #594E36; }
    .main__back__carousel .carousel-dark .carousel-indicators [data-bs-target] .carousel-item {
      transition: transform 2s ease-in-out; }
  .main__back__carousel .main__description--modified {
    color: #594E36;
    text-align: left;
    border-left-color: #594E36;
    border-left-style: solid;
    border-left-width: 0.05rem; }

.main__description {
  font-size: none;
  color: #FFFDED;
  margin: 3rem;
  padding: 3rem;
  text-align: right;
  border-right-color: #FFFDED;
  border-right-style: solid;
  border-right-width: 0.05rem; }
  .main__description .color__2 {
    font-size: 3.5em;
    color: #FFFDED;
    font-weight: bold; }
  .main__description .colorp__2 {
    font-size: 3em;
    color: #FFFDED;
    margin-top: 3rem; }

.main__about__image {
  width: 50%;
  margin: 3rem;
  border-style: solid;
  border-color: #594E36;
  border-width: 0.05rem;
  transition: 0.5s; }
  .main__about__image:hover {
    box-shadow: 0px 0px 10px #594E36; }

.main__about__image--width {
  width: 70%; }

/* Tutoriales */
.main__background__index--tutorials {
  background-image: url(../img/tutorial.jpg);
  height: 750px; }

/* Contacto*/
.main__background__index--contact {
  background-image: url(../img/contact.jpg);
  height: 750px; }

.main__background__contact1 {
  background-color: #F49F0A;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-style: solid;
  border-bottom-color: #594E36;
  border-width: 0.05rem;
  align-items: start;
  padding: 3rem; }
  .main__background__contact1 .form-floating {
    font-size: 1.6em; }
    .main__background__contact1 .form-floating .form-control {
      border-color: #594E36;
      font-size: 1.6em; }

.main__background__contact1--modified {
  background-color: #FFFDED;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
