/* Externos */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Dosis:wght@300&family=Lato:wght@100;700&family=Open+Sans:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

/* Misc */

@import "./partials/misc/variables";
@import "./partials/misc/mixins";
@import "./partials/misc/normalize";

/* Partials */ 

@import "./partials/header";
@import "./partials/footer";

/* Pages */

/* Index */

.main__background__index{
    background-image: url(../img/conejos.jpg);
    width: 100%;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: map-get($colors, primary);
    border-width: map-get($spacings, xxsmall);

    h1{
        font-size: map-get($sizes, title);
        color: map-get($colors, primary);
        font-weight: bold;
        text-align: center;
        padding: map-get($spacings, border-logo);   
    }

    h2{
        font-size: map-get($sizes, subtitle);
        color: map-get($colors, primary);
        text-align: center;
        padding-bottom: map-get($spacings, border-logo);  
    }

    .main__welcome{
        @include flex(row, space-between, center);
        margin-top: map-get($spacings, border-logo);
        margin-left: map-get($spacings, small);
        margin-right: map-get($spacings, small);

        h3{
            font-size: map-get($sizes, large);
            color: map-get($colors, primary);
            font-weight: bold; 
        }

        .main__text{
            @include flex(column, space-around, center);
            margin: map-get($spacings, items-header);
            padding-left: map-get($spacings, border-logo);
            border-left-style: solid;
            border-left-color: map-get($colors, primary);
            border-width: map-get($spacings, xxsmall);

            p{
                font-size: map-get($sizes, medium);
                color: map-get($colors, primary);
                margin-top: map-get($spacings, small);
            }

            .btn{
                color: map-get($colors, base-2);
                font-size: map-get($sizes, small);
                border: map-get($colors, base-2) solid;
                margin-top: map-get($spacings, small);

                &:hover{
                    color: map-get($colors, primary);
                }

                &-outline-warning{
                    color: map-get($colors, primary);
                }
            }
        }
    }
}

.main__background__primary{
    background-color: map-get($colors, base-2);
    background-size: cover;
    border-bottom-style: solid ;
    border-bottom-color: map-get($colors, primary);
    border-width: map-get($spacings, xxsmall);

    .grid__area{
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: .8fr .3fr .8fr .3fr .1fr .9fr .8fr .1fr;
        margin-left: map-get($spacings, small);
        margin-right: map-get($spacings, small);
        justify-items: center;
        justify-content: center;

        .main__titulo{
            grid-column: 6 / 12;
            grid-row: 5 / 6;
            font-size: map-get($sizes, large);
            color: map-get($colors, secondary);
            font-weight: bold;
        }

        .main__image{
            border-style: solid;
            border-color: map-get($colors, primary);
            border-width: map-get($spacings, xxsmall);
        }

        #img_bolso{
             /* grid-area plato */
            grid-column:  2 / 5;
            grid-row: 3 / 5;
            width: 110%;
        }

        #img_conejitas{
            /* grid-area conejitas */
            grid-column: 6 / 12;
            grid-row: 1 / 4;
            width: 80% ;
            margin-top: map-get($spacings, small);
        }
        
        #img_osi{
            /* grid-area osi */
            grid-column: 13 / 15;
            grid-row: 3 / 6;
            width: 110%;
        }
        
        #img_conejo{
            /* grid-area conejo */
            grid-column: 1 / 6;
            grid-row: 6 / 8;
            width: 80%;
        }
        
        #img_bolsa{
            /* grid-area bolsa */
            grid-column: 7 / 11;
            grid-row: 7 / 8;
            width: 80%;
        }
        
        #img_plato{
            /* grid-area plato */
            grid-column: 12 / 15;
            grid-row: 6 / 8;
            width: 130%;
        }
    }

    .btn{
        color: map-get($colors, base-2);
        font-size: map-get($sizes, small);
        border: map-get($colors, base-2) solid;
        margin-top: map-get($spacings, small);

        &-outline-warning{
            color: map-get($colors, primary);
        }
    }
}

.main__background__primary--color2{
    @extend .main__background__primary;
    background-color: map-get($colors, base-1);
    @include flex(row, space-around, start);
    align-content: center;

    .main__tutorials{
        @include flex(column, start, center);
        margin: map-get($spacings, small);
        border-right-style: solid;
        border-right-color: map-get($colors, primary);
        border-right-width: map-get($spacings, xxsmall);
        padding: map-get($spacings, xsmall);
        
        h3{
            font-size: map-get($sizes, large);
            color: map-get($colors, primary);
            font-weight: bold;
        }

        ol{
            font-size: map-get($sizes, medium);
            text-align: center;
            margin: map-get($spacings, small);

            .tutorial__item{
                text-decoration: none;
                font-weight: bold;
                color: map-get($colors, primary);
                transition: all 1s text-decoration;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .main__image{
            border-style: solid;
            border-color: map-get($colors, primary);
            border-width: map-get($spacings, xxsmall);
        }
        
        .btn{
            color: map-get($colors, base-2);
            font-size: map-get($sizes, small);
            border: map-get($colors, base-2) solid;
            margin-top: map-get($spacings, small);

            &-outline-warning{
                color: map-get($colors, primary);
            }
        }
    }

    .main__tutorials--modified{
        @extend .main__tutorials;
        @include flex(column, start, center);
        margin: map-get($spacings, small);
        border-right-style: none;
        padding: map-get($spacings, xxsmall);

        p{
            font-size: map-get($sizes, medium);
            color: map-get($colors, primary);
            margin-top: map-get($spacings, small);
        }
    }
}


/* Media Queries index*/

@media screen and (min-width: 481px) and (max-width: 978px){
    
    .main__background__index .main__welcome{
        flex-direction: column;
        
        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: map-get($spacings, xxsmall);
            border-top-style: solid;
            border-top-color: map-get($colors, primary);
        }    
    }
    
    .main__background__primary--color2 .main__tutorials #tejiendo{
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px){
    
    .main__background__index .main__welcome{
        flex-direction: column;
        
        h3{
            font-size: map-get($sizes, medium);
        }
        
        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: map-get($spacings, xxsmall);
            border-top-style: solid;
            border-top-color: map-get($colors, primary);
            
            p{
                font-size: map-get($sizes, small);
            }
            
            .btn{
                font-size: map-get($sizes, small);
            }
        }   
    }
    
    .main__background__primary .grid__area{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(.4fr .6fr .4fr .3fr .8fr .2fr .8fr .5fr);

        .main__titulo{
            grid-column: 4 / 7;
            grid-row: 7 / 8;
            text-align: center;
            justify-self: end;
            align-self: start;
        }
        
        #img_bolso{
            /* grid-area bolso */
            grid-column:  1 / 3;
            grid-row: 2 / 3;
            width: 120%;
            margin-left: map-get($sizes, small);
            justify-self: start;
        }
        
        #img_conejitas{
            /* grid-area conejitas */
            grid-column: 3 / 7;
            grid-row: 1 / 4;
            width: 70% ;
            margin-top: map-get($sizes, small);
            justify-self: end;       
        }
    
        #img_osi{
            /* grid-area osi */
            grid-column: 6 / 7;
            grid-row: 5 / 6;
            width: 112%;
        }
        
        #img_conejo{
            /* grid-area conejo */
            grid-column: 1 / 6;
            grid-row: 4 / 7;
            width: 80%;
            align-self: start;
        }
        
        #img_bolsa{
            /* grid-area bolsa */
            grid-column: 4 / 7;
            grid-row: 8 / 8;
            width: 80%;
            justify-self: end;
        }
    
        #img_plato{
            /* grid-area plato */
            grid-column: 1 / 4;
            grid-row: 7 / 8;
            width: 100%;
        }
    }
    
    .main__background__primary--color2{
        flex-direction: column;
        
        .main__tutorials{
            border-right-style: none;
            border-right-color: none;
            border-right-width: none;
            border-bottom-style: solid;
            border-bottom-color: map-get($colors, primary);
            border-bottom-width: map-get($sizes, xxsmall);
            
            ol{
                font-size: map-get($sizes, small);
            }
            
            #tejiendo{
                width: 105%;
            }
        }

        .main__tutorials--modified{
            text-align: center;
            border-bottom-style: none;
            border-bottom-color: none;
            border-bottom-width: none;
        }
    }   
}

@media screen and (max-width: 320px){
    
    .main__background__index h1{
        font-size: map-get($sizes, subtitle);
    }
    
    .main__background__index h2{
        font-size: map-get($sizes, medium);
    }
    
    .main__background__index .main__welcome{
        flex-direction: column;
        
        h3{
            font-size: map-get($sizes, small);
        }

        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: map-get($spacings, xxsmall);
            border-top-style: solid;
            border-top-color: map-get($colors, primary);
            
            p{
                font-size: map-get($sizes, small);
            }
            
            .btn{
                font-size: map-get($sizes, xsmall);
            }
        }
    }
    
    .main__background__primary .grid__area{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(.4fr .6fr .4fr .3fr .8fr .2fr .8fr .5fr);
        
        .main__titulo{
            grid-column: 4 / 7;
            grid-row: 7 / 8;
            font-size: map-get($sizes, small);
            text-align: center;
            justify-self: end;
            align-self: start;
        }
        
        #img_bolso{
            /* grid-area bolso */
            grid-column:  1 / 3;
            grid-row: 2 / 3;
            width: 120%;
            margin-left: map-get($spacings, small);
            justify-self: start;
        }
        
        #img_conejitas{
            /* grid-area conejitas */
            grid-column: 3 / 7;
            grid-row: 1 / 4;
            width: 60% ;
            margin-top: map-get($spacings, small);
            justify-self: end;
        }
        
        #img_osi{
            /* grid-area osi */
            grid-column: 6 / 7;
            grid-row: 5 / 6;
            width: 112%;
        }
        
        #img_conejo{
            /* grid-area conejo */
            grid-column: 1 / 6;
            grid-row: 4 / 7;
            width: 80%;
            align-self: start;
        }
        
        #img_bolsa{
            /* grid-area bolsa */
            grid-column: 4 / 7;
            grid-row: 8 / 8;
            width: 80%;
            justify-self: end;
        }
        
        #img_plato{
            /* grid-area plato */
            grid-column: 1 / 4;
            grid-row: 7 / 8;
            width: 100%;
        }
    }
    
    .main__background__primary--color2{
        flex-direction: column;
        
        .main__tutorials{
            border-right-style: none;
            border-right-color: none;
            border-right-width: none;
            border-bottom-style: solid;
            border-bottom-color: map-get($colors, primary);
            border-bottom-width: map-get($spacings, xxsmall);
            
            h3{
                font-size: map-get($sizes, small);
            }

            ol{
                font-size: map-get($sizes, small);
            }

            #tejiendo{
                width: 60%;
            }
        }

        .main__tutorials--modified{
            text-align: center;
            border-bottom-style: none;
            border-bottom-color: none;
            border-bottom-width: none;
            
            p{
                font-size: map-get($sizes, small);
            }
        }
    }
}

@import "./pages/about";
@import "./pages/galeria";
@import "./pages/tutoriales";
@import "./pages/contacto";