@media screen and (min-width: 481px) and (max-width: 978px){
    
    /* Header */

    .header__logo{
        width: 20%;

        ul{
            justify-content: flex-start;

            .main__item{
                font-size: $text-small;
                margin: $spacing-items-header-mobile;
            }
        }
    }

    /* Estilos index bienvenida - Estilos About */

    .main__welcome{
        flex-direction: column;
        
        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: $spacing-xxsmall;
            border-top-style: solid;
            border-top-color: $text-color-primary;
        }    
    }

    .main__about{
        flex-direction: column;
        
        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            padding-top: $spacing-small;
            text-align: center;
            border-top-color: $text-color-secundary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        }
    }

    .main__about2{
        flex-direction: column;
        align-items: center;

        .card-img-top{
            width: 310px;
            text-align: center;
        }
    }
    
    /* Estilos de galería */
    
    .grid__area__galery{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: .7fr .7fr 1fr .8fr .2fr .7fr .6fr;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 8px;
        row-gap: 10px;
        column-gap: 10px;

        #nena_campestre{
            /* grid-area nena */
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            width: 100%;
            justify-self: stretch;
            margin-top: $spacing-small;
        }

        #conejitas_rosas{
            /* grid-area conejas-rosas */
            grid-column: 3 / 7;
            grid-row: 1 / 3;
            width: 100%;
        }

        #muñecas{
            /* grid-area muñecas-invierno */
            grid-column: 7 / 10;
            grid-row: 1 / 2;
            width: 95%;
            margin-left: $spacing-xsmall;
        }

        #manta_triangulos{
            /* grid-area manta-triangulos */
            grid-column: 4 / 6;
            grid-row: 6 / 7;
            width: 80%;
            align-self: stretch;
            justify-self: stretch;
        }

        #sonajeros{
            /* grid-area sonajeros */
            grid-column: 8 / 11;
            grid-row: 3 / 6;
            width: 80%;
            justify-self: end;
            align-self: center;
            margin-top: $spacing-border-logo;
            margin-right: $spacing-small;
        }

        #plato_oliver{
            /* grid-area plato-oliver */
            grid-column: 6 / 8;
            grid-row: 4 / 6;
            width: 100%;
            justify-self: center;
            margin-left:  $spacing-small;
        }

        #corazones{
            /* grid-area corazones */
            grid-column: 7 / 11;
            grid-row: 2 / 6;
            width: 90%;
            align-self: start;
            justify-self: end;  
        }

        #portaloquequieras{
            /* grid-area portaloquequieras */
            grid-column: 1 / 3;
            grid-row: 2 / 4;
            width: 100%;
            align-self: center;    
        }
        
        #letras{
            /* grid-area letras */
            grid-column: 3 / 7;
            grid-row: 2 / 4;
            width: 99%;
            align-self: center ;
            margin-left: $spacing-xsmall;    
        }
        
        #señores_conejos{
            /* grid-area señores-conejos */
            grid-column: 1 / 4;
            grid-row: 3 / 8;
            width: 100%;
            align-self:end;
            margin-bottom: $spacing-border-logo;   
        }
    
        #señor_osi{
            /* grid-area señor-osi */
            grid-column: 4 / 6;
            grid-row: 4 / 5;
            width: 100%;
            align-self: center;
        }
        
        #portaloquequieras_rosa{
            /* grid-area portaloquequieras-rosa */
            grid-column: 6 / 8;
            grid-row: 6 / 8;
            width: 150%;
            justify-self: start;
            align-self: end;
        }
    
        #azucarera{
            /* grid-area azucarera */
            grid-column: 8 / 11;
            grid-row: 7 / 7;
            width: 60%;
            align-self: end;
            justify-self: end;
            margin-bottom: $spacing-small;
        }
        
        #muchos_conejos{
            /* grid-area muchos-conejos */
            grid-column: 8 / 11;
            grid-row: 6 / 7;
            width: 40%;
            align-self: start;
            justify-self: end;
            margin-top: $spacing-border-logo;
        }
    }

    .main__back__carousel{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .carousel-item{
            width: 80%;
        }

        .main__description--modified{
            text-align: center;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
            border-top-color: $text-color-primary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;
        }
    }

    .main__description{
        text-align: center;
        border-right-color: none;
        border-right-style: none;
        border-right-width: none;
        border-bottom-color: $text-color-secundary;
        border-bottom-style: solid;
        border-bottom-width: $spacing-xxsmall;
    }
    
    .main__about__image{
        width: 50%;
    }
    
    .main__about__image--width{
        width: 50%;
    }
    
    /* Estilos de tutoriales */

    .main__background__index--tutorials{
        height: 900px;
    }
    
    #tejiendo{
        width: 100%;
    }

    /* Estilos de contacto */
    
    .main__background__contact1{
        align-items: center;
    }
}

/* Mobile */ 

@media screen and (min-width: 321px) and (max-width: 480px){
    
    /* Header */
    
    .main__header{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & a{
            text-align: center;

            .header__logo{
                width: 20%;
                margin: $spacing-xxsmall;
                text-align: center;
            }
        }

        .main__item{
            text-align: center;
            font-size: $text-xsmall;
            margin: $spacing-border-button;
            padding: $spacing-items-header-mobile;
        }
    }
     
    /* Estilos de index bienvenida - Estilos de about */
    
    .main__background__index--about{
        height: 1000px;

        h1 #title{
            font-size: $text-medium;
        }    
    }

    .main__welcome{
        flex-direction: column;
        
        h3{
            font-size: $text-medium;
        }

        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: $spacing-xxsmall;
            border-top-style: solid;
            border-top-color: $text-color-primary;

            p{
                font-size: $text-small;
            }

            .btn{
                font-size: $text-small;
            }
        }   
    }

    .main__about{
        flex-direction: column;
        
        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            font-size: $text-small;
            padding-top: $spacing-small;
            text-align: center;
            border-top-color: $text-color-secundary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        } 
    }

    .main__about2{
        flex-direction: column;
        align-items: center;

        .card{
            width: 260px;
            margin: $spacing-xxsmall;

            &-img-top{
                width: 180px;
                text-align: center;
            }
        }
    }
 
    /* Estilos de galería */
    
    .grid__area{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(.4fr .6fr .4fr .3fr .8fr .2fr .8fr .5fr);

        .main__titulo{
            grid-column: 4 / 7;
            grid-row: 7 / 8;
            text-align: center;
            justify-self: end;
            align-self: start;
        }

        #img_bolso{
            /* grid-area bolso */
            grid-column:  1 / 3;
            grid-row: 2 / 3;
            width: 120%;
            margin-left: $spacing-small;
            justify-self: start;
        }
    
        #img_conejitas{
            /* grid-area conejitas */
            grid-column: 3 / 7;
            grid-row: 1 / 4;
            width: 70% ;
            margin-top: $spacing-small;
            justify-self: end;       
        }
    
        #img_osi{
            /* grid-area osi */
            grid-column: 6 / 7;
            grid-row: 5 / 6;
            width: 112%;
        }
        
        #img_conejo{
            /* grid-area conejo */
            grid-column: 1 / 6;
            grid-row: 4 / 7;
            width: 80%;
            align-self: start;
        }
    
        #img_bolsa{
            /* grid-area bolsa */
            grid-column: 4 / 7;
            grid-row: 8 / 8;
            width: 80%;
            justify-self: end;
        }
    
        #img_plato{
            /* grid-area plato */
            grid-column: 1 / 4;
            grid-row: 7 / 8;
            width: 100%;
        }
    }

   .grid__area__galery{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr .6fr .8fr .87fr .3fr .15fr .5fr .5fr;
        padding-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
        row-gap: 8px;
        column-gap: 10px;

        #nena_campestre{
            /* grid-area nena */
            grid-column: 6 / 8;
            grid-row: 1 / 2;
            width: 100%;
            justify-self: end;
            align-self: end;
        }

        #conejitas_rosas{
            /* grid-area conejas-rosas */
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            width: 100%;
            justify-self: start;
            align-self: end;
        }
    
        #muñecas{
            /* grid-area muñecas-invierno */
            grid-column: 1 / 6;
            grid-row: 2 / 3;
            align-self: start;
            width: 100%;
        }
        
        #manta_triangulos{
            /* grid-area manta-triangulos */
            grid-column: 5 / 8;
            grid-row: 9 / 10;
            width: 100%;
        }

        #sonajeros{
            /* grid-area sonajeros */
            grid-column: 4 / 8;
            grid-row: 3 / 4;
            width: 80%;
            justify-self: start;
            align-self: start;
        }
        
        #plato_oliver{
            /* grid-area plato-oliver */
            grid-column: 6 / 8;
            grid-row: 2 / 3;
            width: 100%;
        }

        #corazones{
            /* grid-area corazones */
            grid-column: 4 / 8;
            grid-row: 4 / 5;
            width: 100%;
            align-self: start;
            justify-self: start;
        }

        #portaloquequieras{
            /* grid-area portaloquequieras */
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            width: 100%;
        }

        #letras{
            /* grid-area letras */
            grid-column: 1 / 5;
            grid-row: 8 / 9;
            width: 100%;
            align-self:end ;
        }

        #señores_conejos{
            /* grid-area señores-conejos */
            grid-column: 1 / 5;
            grid-row: 5 / 7;
            width: 100%;
            align-self:end ;
        }

        #señor_osi{
            /* grid-area señor-osi */
            grid-column: 5 / 8;
            grid-row: 6 / 7;
            width: 100%;
            justify-self: start;
            align-self: start;
        }

        #portaloquequieras_rosa{
            /* grid-area portaloquequieras-rosa */
            grid-column: 5 / 8;
            grid-row: 7 / 9;
            width: 100%;
            align-self: end;
        }

        #azucarera{
            /* grid-area azucarera */
            grid-column: 1 / 5;
            grid-row: 9 / 10;
            width: 100%;
        }

        #muchos_conejos{
            /* grid-area muchos-conejos */
            grid-column: 1 / 4;
            grid-row: 4 / 5;
            justify-self: start;
            width: 100%;
        }
    }
        
    .main__back__carousel{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .carousel-item{
            width: 100%;
        }

        .main__description--modified{
            text-align: center;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
            border-top-color: $text-color-primary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;
        }
    }

    .main__description{
        text-align: center;
        border-right-color: none;
        border-right-style: none;
        border-right-width: none;
        border-bottom-color: $text-color-secundary;
        border-bottom-style: solid;
        border-bottom-width: $spacing-xxsmall;

        .color__2{
            font-size: $text-medium;
        }

        .colorp__2{
            font-size: $text-small;
        }
    }
 
    .main__about__image--width{
        width: 60%;
    }
    
    /* Estilos de tutoriales*/

    .main__background__index--tutorials{
        height: 1000px;
    }
    
    .main__background__primary--color2{
        flex-direction: column;

        .main__tutorials{
            border-right-style: none;
            border-right-color: none;
            border-right-width: none;
            border-bottom-style: solid;
            border-bottom-color: $text-color-primary;
            border-bottom-width: $spacing-xxsmall;

            ol{
                font-size: $text-small;
            }

            #tejiendo{
                width: 105%;
            }
        }

        .main__tutorials--modified{
            text-align: center;
            border-bottom-style: none;
            border-bottom-color: none;
            border-bottom-width: none;
        }
    }
    
    #width-mobile-manta{
        width: 85%;
    }
    
    #width-mobile-agarradera{
        width: 85%;
    }

    /* Estilos de contacto*/
    
    .main__background__contact1{
        align-items: center;

        .form-control{
            font-size: $text-xxsmall;
        }
    }
    
    /*Estilo de footer */
    
    .footer__title{
        font-size: $text-title-footer;
    }

    h4{
        font-size: $text-xsmall;
    }
}

/* Mobile pequeño */

@media screen and (max-width: 320px){
    
    /* Header */

    .main__header{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & a{
            text-align: center;

            .header__logo{
                width: 22%;
                margin: $spacing-xxsmall;
                text-align: center;
            }
        }

        ul{
            justify-content: center;

            .main__item{
                text-align: center;
                font-size: $text-xxsmall;
                margin: $spacing-border-button;
                padding: $spacing-border-button;
            }
        }
    }
    
    /* Estilos de index bienvenida - Estilos de about */
    
    .main__background__index--about{
        height: 1000px;

        h1{
            font-size: $text-subtitle;
        }

        h2{
            font-size: $text-medium;
        }
    }

    .main__welcome{
        flex-direction: column;
        
        h3{
            font-size: $text-small;
        }

        .main__text{
            padding-left: none;
            border-left-style: none;
            border-left-color: none;
            padding-top: $spacing-xxsmall;
            border-top-style: solid;
            border-top-color: $text-color-primary;

            p{
                font-size: $text-small;
            }

            .btn{
                font-size: $text-xsmall;
            }
        }
    }

    .main__about{
        flex-direction: column;

        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            font-size: $text-small;
            padding-top: $spacing-small;
            text-align: center;
            border-top-color: $text-color-secundary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        }
    }

    .main__about2{
        flex-direction: column;
        align-items: center;

        .card{
            width: 250px;
            margin-top: $spacing-small;
            margin-bottom: $spacing-xsmall;

            &-img-top{
                width: 180px;
                text-align: center;
            }

            &-title{
                font-size: $text-medium;
            }
            
            &-text{
                font-size: $text-small;
            }
        }
    }
    
    /* Estilos de galería */

    .grid__area{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(.4fr .6fr .4fr .3fr .8fr .2fr .8fr .5fr);

        .main__titulo{
            grid-column: 4 / 7;
            grid-row: 7 / 8;
            text-align: center;
            justify-self: end;
            align-self: start;
        }

        #img_bolso{
            /* grid-area bolso */
            grid-column:  1 / 3;
            grid-row: 2 / 3;
            width: 120%;
            margin-left: $spacing-small;
            justify-self: start;
        }
    
        #img_conejitas{
            /* grid-area conejitas */
            grid-column: 3 / 7;
            grid-row: 1 / 4;
            width: 60% ;
            margin-top: $spacing-small;
            justify-self: end;
        }
    
        #img_osi{
            /* grid-area osi */
            grid-column: 6 / 7;
            grid-row: 5 / 6;
            width: 112%;
        }
    
        #img_conejo{
            /* grid-area conejo */
            grid-column: 1 / 6;
            grid-row: 4 / 7;
            width: 80%;
            align-self: start;
        }
    
        #img_bolsa{
            /* grid-area bolsa */
            grid-column: 4 / 7;
            grid-row: 8 / 8;
            width: 80%;
            justify-self: end;
        }
    
        #img_plato{
            /* grid-area plato */
            grid-column: 1 / 4;
            grid-row: 7 / 8;
            width: 100%;
        }
    }
    
   .grid__area__galery{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr .6fr .8fr .87fr .3fr .15fr .5fr .5fr;
        padding-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
        row-gap: 8px;
        column-gap: 10px;

        #nena_campestre{
            /* grid-area nena */
            grid-column: 6 / 8;
            grid-row: 1 / 2;
            width: 100%;
            justify-self: end;
            align-self: end;
        }

        #conejitas_rosas{
            /* grid-area conejas-rosas */
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            width: 100%;
            justify-self: start;
            align-self: end;
        }

        #muñecas{
            /* grid-area muñecas-invierno */
            grid-column: 1 / 6;
            grid-row: 2 / 3;
            align-self: start;
            width: 100%;
        }
        
        #manta_triangulos{
            /* grid-area manta-triangulos */
            grid-column: 5 / 8;
            grid-row: 9 / 10;
            width: 100%;
        }

        #sonajeros{
            /* grid-area sonajeros */
            grid-column: 4 / 8;
            grid-row: 3 / 4;
            width: 80%;
            justify-self: start;
            align-self: start;
        }
        
        #plato_oliver{
            /* grid-area plato-oliver */
            grid-column: 6 / 8;
            grid-row: 2 / 3;
            width: 100%;
        }

        #corazones{
            /* grid-area corazones */
            grid-column: 4 / 8;
            grid-row: 4 / 5;
            width: 100%;
            align-self: start;
            justify-self: start;
        }

        #portaloquequieras{
            /* grid-area portaloquequieras */
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            width: 100%;
        }

        #letras{
            /* grid-area letras */
            grid-column: 1 / 5;
            grid-row: 8 / 9;
            width: 100%;
            align-self:end ;
        }

        #señores_conejos{
            /* grid-area señores-conejos */
            grid-column: 1 / 5;
            grid-row: 5 / 7;
            width: 100%;
            align-self:end ;
        }

        #señor_osi{
            /* grid-area señor-osi */
            grid-column: 5 / 8;
            grid-row: 6 / 7;
            width: 100%;
            justify-self: start;
            align-self: start;
        }

        #portaloquequieras_rosa{
            /* grid-area portaloquequieras-rosa */
            grid-column: 5 / 8;
            grid-row: 7 / 9;
            width: 100%;
            align-self: end;
        }

        #azucarera{
            /* grid-area azucarera */
            grid-column: 1 / 5;
            grid-row: 9 / 10;
            width: 100%;
        }

        #muchos_conejos{
            /* grid-area muchos-conejos */
            grid-column: 1 / 4;
            grid-row: 4 / 5;
            justify-self: start;
            width: 100%;
        }
    }
        
    .main__back__carousel{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .carousel-item{
            width: 110%;
        }

        .main__description--modified{
            text-align: center;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
            border-top-color: $text-color-primary;
            border-top-style: solid;
            border-top-width: $spacing-xxsmall;

            .text1{
                font-size: $text-small;
                color: $text-color-primary;
                font-weight: bold;
            }
        
            .text1--mod{ 
                font-weight: normal;
            }
        }
    }

    .main__about__image--width{
        width: 60%;
    }

    .main__description{
        text-align: center;
        border-right-color: none;
        border-right-style: none;
        border-right-width: none;
        border-bottom-color: $text-color-secundary;
        border-bottom-style: solid;
        border-bottom-width: $spacing-xxsmall;

        .color__2{
            font-size: $text-small;
        }
    
        .colorp__2{
            font-size: $text-small;
        }
    }
    
    /* Estilos de tutoriales */

    .main__background__index--tutorials{
        height: 1000px;
    }

    .main__background__primary--color2{
        flex-direction: column;

        .main__tutorials{
            border-right-style: none;
            border-right-color: none;
            border-right-width: none;
            border-bottom-style: solid;
            border-bottom-color: $text-color-primary;
            border-bottom-width: $spacing-xxsmall;

            ol{
                font-size: $text-small;
            }

            #tejiendo{
                width: 60%;
            }
        }

        .main__tutorials--modified{
            text-align: center;
            border-bottom-style: none;
            border-bottom-color: none;
            border-bottom-width: none;
        }
    }

    #width-mobile-manta{
        width: 80%;
        height: 350px;
    }

    #width-mobile-agarradera{
        width: 80%;
        height: 350px;
    }

    /* Estilos de contacto */
    
    .main__background__contact1{
        align-items: center;
        
        .form-control{
            font-size: $text-xxxsmall;
        }
    }

    /* Estilos de footer */

    .footer__title{
        font-size: $text-title-footer;
    }
    
    h4{
        font-size: $text-xsmall;
    }
}




