/* Footer */

footer {
    background-color: map-get($colors, base-2);
    color: map-get($colors, secondary);
    background-size: cover;
    @include flex(column, space-around, center);

    .footer__title{
        font-size: map-get($sizes, title);
        color: map-get($colors, secondary);
        margin-bottom: map-get($spacings, xxsmall);
        padding: map-get($spacings, small);
        text-align: center;
    }

    nav a{
        margin: map-get($spacings, border-button);
        padding: map-get($spacings, xxsmall);
    }

    h4{
        font-size: map-get($sizes, small);
        color: map-get($colors, secondary);
        padding: map-get($spacings, xsmall);  
        text-align: center; 
    }
    
    h5{
        font-size: map-get($sizes, xsmall);
        color: map-get($colors, secondary);
        text-align: center;
        padding: map-get($spacings, xsmall);
        margin-bottom: map-get($spacings, small);
    }
}

/* Media Queries footer */

@media screen and (min-width: 321px) and (max-width: 480px){
    
    footer .footer__title{
        font-size: map-get($sizes, title-footer);
        text-align: center;
    }

    footer h4{
        font-size: map-get($sizes, xsmall);
    }
}

@media screen and (max-width: 320px){

    footer .footer__title{
        font-size: map-get($sizes, title-footer);
        text-align: center;
    }
    
    footer h4{
        font-size: map-get($sizes, xsmall);
    }
}


