/* Header */

.main__background__index{
    background-image: url(../img/conejos.jpg);
    width: 100%;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: map-get($colors, primary);
    border-width: map-get($spacings, xxsmall);

    .main__header{
        @include flex(row, space-between, flex-start);
        border-bottom-style: solid;
        border-bottom-color: map-get($colors, primary);
        border-width: map-get($spacings, xxsmall);

        .header__logo{
            width: 15%;
            border-radius: map-get($spacings, border-logo);
            margin: map-get($spacings, xsmall);
        }

        ul{
            @include flex(row, space-evenly, start);
            margin-top: map-get($spacings, small);
            margin-left: map-get($spacings, xsmall);
            text-decoration: none;
            list-style: none;

            .main__item{
                font-size: map-get($sizes, items-header);
                text-decoration: none;
                margin: map-get($sizes, items-header);
                color: map-get($colors, primary);
                border-bottom: map-get($spacings, xxsmall) solid transparent;
                transition: all .3s ease-in;

                &:hover{
                    color: map-get($colors, primary-trans);
                    border-bottom-color: map-get($colors, primary-trans);
                    border-bottom-style: solid;
                    border-bottom-width: map-get($spacings, xxsmall);
                }
            }

            .main__item--bold{
                @extend .main__item;
                font-weight: bold;
            }
        }
    }
}

/* Media Queries header */

@media screen and (min-width: 481px) and (max-width: 978px){

    .main__background__index .main__header .header__logo{
        width: 20%;

        ul{
            @include flex (row, flex-start, flex-start);

            .main__item{
                font-size: map-get($sizes, small);
                margin: map-get($spacings, items-header-mobile);
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 480px){

    .main__background__index .main__header{
        @include flex(column, center, center);

        a{
            text-align: center;

            .header__logo{
                width: 20%;
                margin: map-get($spacings, xxsmall);
                text-align: center;
            }
        }

        nav ul .main__item{
            text-align: center;
            font-size: map-get($sizes, xsmall);
            margin: map-get($spacings, border-button);
            padding: map-get($spacings, items-header-mobile);
        }
    }
}

@media screen and (max-width: 320px){

    .main__background__index .main__header{
        @include flex(column, center, center);

        a{
            text-align: center;

            .header__logo{
                width: 22%;
                margin: map-get($spacings, xxsmall);
                text-align: center;
            }
        }

        nav ul{
            justify-content: center;

            .main__item{
                text-align: center;
                font-size: map-get($sizes, xxsmall);
                margin: map-get($spacings, border-button);
                padding: map-get($spacings, border-button);
            }
        }
    }
}













