/* About */

.main__background__index--about{
    @extend .main__background__index;
    background-image: url(../img/Manta.jpg);
    height: 750px;
}

.main__about{
    background-color: map-get($colors, base-2);
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: map-get($colors, primary);
    border-width: map-get($spacings, xxsmall);
    @include flex(row, space-around, center);

    .main__about__image--width1{
        width: 180%;
    }

    .main__parrafo{
        font-size: map-get($sizes, medium);
        color: map-get($colors, secondary);
        margin: map-get($spacings, small);
        padding-left: map-get($spacings, small);
        text-align: left;
        border-left-color: map-get($colors, secondary);
        border-left-style: solid;
        border-left-width: map-get($spacings, xxsmall);
    }    
}

.main__about2{
    background-color: map-get($colors, base-1);
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: map-get($colors, primary);
    border-width: map-get($spacings, xxsmall);
    @include flex(row, space-around, start);

    .card{
        margin: map-get($spacings, small);
        width: 400px;
        background-color: map-get($colors, base-1);
        transition: 0.6s;

        &:hover{
            box-shadow: 0px 0px 10px map-get($colors, primary);
        }

        &-img-top{
            margin: map-get($spacings, small);
            text-align: center;
            border-color: map-get($colors, primary);
            border-style: solid;
            border-width: map-get($spacings, xxsmall);
            width: 330px;
        }

        &-body{
            text-align: center;

            h3{
                font-size: map-get($sizes, large);
                color: map-get($colors, primary);
                font-weight: bold;
            }

            p{
                font-size: map-get($sizes, medium);
                color: map-get($colors, primary);
                margin-top: map-get($spacings, small);  
            }

            .btn{
                color: map-get($colors, base-2);
                font-size: map-get($sizes, small);
                border: map-get($colors, base-2) solid;
                margin-top: map-get($spacings, small);

                &-outline-warning{
                    color: map-get($colors, primary);
                }
            }
        }
    }
}

/* Media Queries about */

@media screen and (min-width: 481px) and (max-width: 978px){
    
    .main__about{
        @include flex(column, space-around, center);
        
        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            padding-top: map-get($spacings, small);
            text-align: center;
            border-top-color: map-get($colors, secondary);
            border-top-style: solid;
            border-top-width: map-get($spacings, xxsmall);
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        }
    }

    .main__about2{
        @include flex(column, space-around, center);

        .card .card-img-top{
            width: 310px;
            text-align: center;
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 480px){
    
    .main__background__index--about{
        height: 1000px;

        .container h1 #title{
            font-size: map-get($sizes, medium);
        }    
    }

    .main__about{
        @include flex(column, space-around, center);
        
        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            font-size: map-get($sizes, small);
            padding-top: map-get($spacings, small);
            text-align: center;
            border-top-color: map-get($colors, secondary);
            border-top-style: solid;
            border-top-width: map-get($spacings, xxsmall);
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        } 
    }

    .main__about2{
        @include flex(column, space-around, center);

        .card{
            width: 260px;
            margin: map-get($spacings, xxsmall);

            &-img-top{
                width: 180px;
                text-align: center;
            }

            &-body .card-title{
                font-size: map-get($sizes, medium);
            }

            &-body .card-text{
                font-size: map-get($sizes, small);
            }
        }
    }
}

@media screen and (max-width: 320px){
    .main__background__index--about{
        height: 1000px;
    }

    .main__about{
        @include flex(column, space-around, center);

        .main__about__image--width1{
            width: 80%;
        }

        .main__parrafo{
            font-size: map-get($sizes, small);
            padding-top: map-get($spacings, small);
            text-align: center;
            border-top-color: map-get($colors, secondary);
            border-top-style: solid;
            border-top-width: map-get($spacings, xxsmall);
            padding-left: none;
            border-left-color: none;
            border-left-style: none;
            border-left-width: none;
        }
    }

    .main__about2{
        @include flex(column, space-around, center);

        .card{
            width: 250px;
            margin-top: map-get($spacings, small);
            margin-bottom: map-get($spacings, xsmall);

            &-img-top{
                width: 180px;
                text-align: center;
            }

            &-body .card-title{
                font-size: map-get($sizes, medium);
            }
            
            &-body .card-text{
                font-size: map-get($sizes, small);
            }
        }
    }  
}
